Repository NOAA-GFDL/MOM6, pull requests merged in 2024-11, with the labels that each got.

#742 adding a constant mixing efficiency to internal tides
  src/parameterizations/lateral/MOM_internal_tides.F90
Labels: enhancement, Parameter change

#746 Replace hard-coded parameter Rrho0 with runtime parameter Max_Rrho_sa…
  src/parameterizations/vertical/MOM_set_diffusivity.F90
Labels: enhancement, Parameter change

#751 Add REMAPPING_SCHEME for OBC, ODA and SPONGE
  src/core/MOM_open_boundary.F90
  src/ocean_data_assim/MOM_oda_driver.F90
  src/ocean_data_assim/MOM_oda_incupd.F90
  src/parameterizations/vertical/MOM_ALE_sponge.F90
Labels: Parameter change

#749 Bug fix for subroutine `write_energy` when `DT`<2
  src/diagnostics/MOM_sum_output.F90
Labels: bug
